.center-text {
  text-align: center;
}

.center-text-head > th {
  text-align: center;
}

.green-color {
  color: green;
}

.red-color {
  color: red;
}

.spread-items > i {
  display: inline-block;
  width: 25%;
  text-align: center;
}