.display-inline-block {
  display: inline-block;
}

.display-inline-block-top {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}

.green-color {
  color: green;
}

.green-color-bold {
  color: green;
  font-weight: bold;
}

.navbar-header > a {
  color: white !important;
}

.navbar-nav > li > a {
  color: white !important;
}

.navbar-nav > .active > a {
  color: white !important;
  background-color: #4caf50 !important;
}

.navbar-nav > .active > a:focus {
  color: white !important;
  background-color: #4caf50 !important;
}

.options-reports {
  display: inline-block;
  margin-left: 15px;
}

.red-color {
  color: red;
}

.red-color-bold {
  color: red;
  font-weight: bold;
}

.row-table-selected tr:hover{
  background-color: #757575;
  cursor: pointer;
  color: white !important;
}

.spread-two-icons > i {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.spread-four-icons > i {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

.text-center-header-table > th {
  text-align: center !important;
}